<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
<head>
  <meta charset="utf-8">
 <!--  <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <meta name="renderer" content="ie-comp"> 
  <title>油料管理系统</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <th:block th:replace="head-css.html"></th:block>
</head>
<!-- ADD THE CLASS sidebar-collapse TO HIDE THE SIDEBAR PRIOR TO LOADING THE SITE -->
<body class="hold-transition skin-blue sidebar-collapse sidebar-mini" style="background:url(img/system-operator.jpg) no-repeat fixed;background-size:cover;">
<th:block th:include="menu-left.html"></th:block>
 
  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <!-- <div class="content-wrapper" style="background:url('img/work-flow.jpg') no-repeat fixed; background-size:100% 100%;"> -->
  <div class="content-wrapper" >
  <!-- Site wrapper -->
  <section class="content" >

    <div >
      <img style="width:100%;height:100%;" src="img/system-operator.jpg">	
      <!-- <a href="#" onclick="loadhtml('quota-manager.htm');">
      <button style="position:absolute;top:6%;left:22.5%;" type="button" class="btn btn-default" >
      	<img src="img/zbgl.png" style="width:48px;height:48px">
      </button>
      </a>
       <button style="position:absolute;top:18.2%;left:22.5%;" type="button" class="btn btn-default btn-outline-primary" data-toggle="modal" data-target="#modal-default">
      	<a href="#" onclick="loadhtml('depart-manager.htm');"><img src="img/spr-icon-48.gif"></a>
      </button> -->
      <!-- <OBJECT ID="card"  CLASSID="CLSID:A9C48ED1-F5BB-4E90-B78E-31E076B92838" ></OBJECT> -->
      <object id="card"  classid="CLSID:A9C48ED1-F5BB-4E90-B78E-31E076B92838" ></object>
	</div>	
  </section>
</div>

<th:block th:replace="head-js.html"></th:block>
<script type="text/javascript">		
function loadhtml(url){	
	$(".content").html("<i class='fa fa-refresh fa-spin'></i>");
	$(".content").load(url);
}
//loadhtml("maincontent.htm");
</script>
</body>
</html>
